extend layout

block content
    form.form(action="/register" method="post")
        h1.form-title   Register an account
        label.label(for="username") Username
        input.input(type="text" placeholder="Username" name="username" required)
        label.label(for="email") Email address
        input.input(type="email" placeholder="Email address" name="email" required)
        label.label(for="password") Password
        input.input(type="password" placeholder="Password" name="password" required)
        label.label(for="confirmPassword") Confirm password
        input.input(type="password" placeholder="Password" name="confirmPassword" required)
        button.button(type="submit") Register